*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    cursor: pointer !important;
}

#bg{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background: url(bgapuji.jpg)no-repeat center center/cover;
      flex-direction: column;
      color:white;
    }

#bg::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:0.4;
}

#bg > *{
  position: relative;  
}

.head{
    font-size:5rem;
    color:white;
    padding-bottom:1rem;
}

.para{
    color:white;
    font-size:1.5rem;
}

/*One*/

#piccy{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#ofbg{
    position: relative;
    background: url(one.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#ofbg::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#txt{
    position:relative;
    color:white;
    font-size:2rem;
}

#txt:hover{
    opacity:0;
}


#ofbg.show::before{
    opacity:0;
}

/*Two*/

#pic{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#ofg{
    position: relative;
    background: url(real2.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#ofg::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tt{
    position:relative;
    color:white;
    font-size:2rem;
}

#tt:hover{
    opacity:0;
}


#ofg.show::before{
    opacity:0;
}

/*Three*/

#pics{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#ofc{
    position: relative;
    background: url(third.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#ofc::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#ttk{
    position:relative;
    color:white;
    font-size:2rem;
}

#ttk:hover{
    opacity:0;
}


#ofc.show::before{
    opacity:0;
}

/*Four*/

#pis{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#oc{
    position: relative;
    background: url(coffe.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#oc::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tttk{
    position:relative;
    color:white;
    font-size:2rem;
}

#tttk:hover{
    opacity:0;
}


#oc.show::before{
    opacity:0;
}


/*Five*/

#pi{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#ocs{
    position: relative;
    background: url(coke.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#ocs::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tk{
    position:relative;
    color:white;
    font-size:2rem;
}

#tk:hover{
    opacity:0;
}


#ocs.show::before{
    opacity:0;
}

/*Six*/

#pil{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#poc{
    position: relative;
    background: url(mw.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#poc::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tik{
    position:relative;
    color:white;
    font-size:2rem;
}

#tik:hover{
    opacity:0;
}


#poc.show::before{
    opacity:0;
}

/*Seven*/

#pill{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#pocs{
    position: relative;
    background: url(toothbrush.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#pocs::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tiks{
    position:relative;
    color:white;
    font-size:2rem;
}

#tiks:hover{
    opacity:0;
}


#pocs.show::before{
    opacity:0;
}

/*Eigth*/

#piss{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#poses{
    position: relative;
    background: url(shoe.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#poses::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tiktoks{
    position:relative;
    color:white;
    font-size:2rem;
}

#tiktoks:hover{
    opacity:0;
}


#poses.show::before{
    opacity:0;
}

/*Nine*/

#pills{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#pose{
    position: relative;
    background: url(two.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#pose::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#tiktok{
    position:relative;
    color:white;
    font-size:2rem;
}

#tiktok:hover{
    opacity:0;
}


#pose.show::before{
    opacity:0;
}

/*Ten*/

#piku{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#picnic{
    position: relative;
    background: url(now.jpg) no-repeat center center/cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#picnic::before{
    content:"";
    position:absolute;
    inset:0;
    background:black;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

#pipi{
    position:relative;
    color:white;
    font-size:2rem;
}

#pipi:hover{
    opacity:0;
}


#picnic.show::before{
    opacity:0;
}

